django >= 4.0
django-cleanup
django-totalsum-admin
django-environ
python-decouple
xhtml2pdf
python-dateutil
datetime
django-multiupload
reportlab
PyPDF3
django-admin-interface
mysqlclient
psycopg2-binary
django-import-export
django-tabular-export
python-docx
docx2pdf