<!DOCTYPE html>


{% extends 'base.html' %}

{% block content %}
    <h2>Liste des Clients</h2> <a href="{% url 'Nouveau_Client' %}" class="top-menu">
      Nouveau Client : {% include './icons/file-earmark-plus.svg' %}
    </a>
<br>
<br>

    <table>
        <tr>
            <td>Dénomination sociale </td>
            <td>n° de SIRET </td>
            <td>Code Postal </td>
            <td>Ville </td>
        </tr>
    {% for client in clients %}
        <tr>
            <td><a href="{% url 'Client_Detail' client.pk %}">{{ client.Denomination_Sociale }}</a> </td>
            <td>{{ client.SIRET }} </td>
            <td>{{ client.CP }} </td>
            <td>{{ client.Ville }} </td>
            <td><a href = "{% url 'Client_Detail' client.pk %}" class="btn btn-sm btn-warning">Modifier</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}