{% extends "admin/change_form2.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_related_objects %}
{{ block.super }}
</br>

{% if change and warning%}
<div class="submit-row" action="">
    {% csrf_token %}

    <input id = "submitBtn" class = "btn btn-primary" type="submit" value="Enregistrer" name="Enregistrer"
           onclick="return confirm('ATTENTION ! Une fois les modifications enregistr&eacute;es, les affaires et offres rattach&eacute;es au client seront toutes avec ces nouvelles coordonn&eacute;es. Confirmez-vous l'enregistrement des modifications ?');" />
    </div>
{% endif %}

{% if change and (not warning)%}
<div class="submit-row" action="">
    {% csrf_token %}

    <input id = "submitBtn" class = "btn btn-primary" type="submit" value="Enregistrer" name="Enregistrer"
    </div>
{% endif %}


{% endblock %}