{% extends "admin/change_form2.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_related_objects %}
{{ block.super }}
<div class="submit-row" action="">
    {% csrf_token %}
    {% if not is_popup %}
    <input type="submit" value="Sauvegarde et Retour Menu Previsionnel" name="Retour_Previsionnel"/>
    <input type="submit" value="Sauvegarde et Retour Affaire" name="Retour_Affaire"/>
    {% endif %}
</div>

{% endblock %}

{% block submit_buttons_bottom %}
{% if is_popup %}
    {{block.super}}
{% endif %}
{% endblock %}

