{% extends "admin/change_form2.html" %}
{% load i18n admin_urls static admin_modify %}

{% block content %}
{% csrf_token %}
{{block.super}}
{{fichier_word_form.as_p}}
{% endblock %}

{% block after_related_objects %}
{{ block.super }}
<div class="submit-row" action="">
    {% csrf_token %}
    {% if not is_popup %}
    <input type="submit" value="Sauvegarde et Retour Facture" name="Retour_Facture"/>
    <input type="button" value="Fermer Sans Enregistrer" onclick="history.go(-1)">
    {% endif %}
</div>

{% endblock %}

{% block submit_buttons_bottom %}
{% if is_popup %}
    {{block.super}}
{% endif %}
{% endblock %}

