{% extends "admin/change_form2.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_related_objects %}
{{ block.super }}
{% comment %}
<center>
{% if change %}<b> Reste à Régler : {{Reste_Affaire}} <b/> {% endif %}
</center>
{% endcomment %}
</br>

{% if change and not Etat%}
<div class="submit-row" action="">
    {% csrf_token %}
    {% comment %}
    <input type="submit" value="Aperçu HTML Facture" name="Apercu_HTML_Facture"/>
    {% endcomment %}
</div>
<div class="submit-row" action="">
    {% csrf_token %}
    <input type="submit" value="Aperçu PDF Facture" name="Apercu_PDF_Facture" formtarget="_blank"/>
    <input id = "submitBtn" class = "btn btn-primary" type="submit" value="Valider Facture" name="Valider_Facture"
           onclick="return confirm('ATTENTION ! Une fois la facture valid&eacute;e elle ne pourra plus &ecirc;tre annul&eacute;e et devra faire l&rsquo;objet d&rsquo;un avoir. Etes-vous s&ucirc;r de valider la facture ?');" />
    <input type="submit" value="Enregistrer et Continuer les modifications" name="Save_Brouillon""/>
    </div>
{% endif %}

{% if change and Etat %}
<div class="submit-row" action="">
    {% csrf_token %}
    {% if relance >= 1 and relance < 7 and not Payee %}
        <input type="submit" value="Relancer Facture" name="Relancer_Facture"/>
    {% endif %}

    {% if relance == 0 %}
        <input type="submit" value="Envoyer Facture" name="Envoyer_Mail"/>
    {% endif %}
        <input type="submit" value="Aperçu PDF Facture" name="Apercu_PDF_Facture" formtarget="_blank"/>
    {% if Num_Facture == "FA0001" %}

    {% endif %}
    {% if relance >= 1 %}
        <input type="submit" value="Fermer" name = "Fermer_DejaValidee"/>
    {% endif %}

</div>
{% endif %}

{% if not change %}
<div class="submit-row" action="">
    <input type="button" value="Fermer Sans Enregistrer" onclick="history.go(-1)">
</div>
{% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
{% if not Etat %}
    {{block.super}}
{% endif %}
{% endblock %}