{% extends "admin/change_form2.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_related_objects %}
{{ block.super }}
<div class="submit-row" action="">
    {% csrf_token %}
    {% if change and attente %}
    <input type="submit" value="Valider Offre" name="Valider_Offre"
               onclick="return confirm('Confirmez-vous la cr&eacute;ation de l&rsquo; affaire correspondant &agrave; cette offre de mission ?');" />
    {% endif %}
    {% if attente %}
        <input type="submit" value="Classer Sans Suite" name="Sans_Suite"
               onclick="return confirm('Confirmez-vous le classement sans suite de l&rsquo;offre de mission ?');" />
    {% endif %}
    <input type="button" value="Fermer Sans Enregistrer" onclick="history.go(-1)">
</div>
{% endblock %}
